:root{
	--fgcolor: #0f0f0f;
	--bgcolor: #f0f0f0;
}
body{
	font: 120% monospace;
	margin:0px;
	padding:0px;
	background-color: var(--bgcolor);
	color: var(--fgcolor);
}
.wave{
	background-image: url('wave.png');
	background-repeat: repeat-x;
	background-size: 50%;
	height: 20%;
	width:100%;
}
.top{
	position:fixed;
	transform: scaleY(-1);
	z-index:-1;
	top:-5%;
}
.bottom{
	position:fixed;
	top:85%;
	padding:0px;
	margin:0px;
	z-index:-1;
}
.large{
	font-size: 500%;
}
button{
	color:var(--fgcolor);
	background-color:var(--bgcolor);
	border-color:var(--fgcolor);
	padding:10px;
	font: inherit;
}
textarea{
	color:var(--fgcolor);
	background-color:var(--bgcolor);
	border-color:var(--fgcolor);
	font: inherit;
}
input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}
.hbox > *{display: inline-block;padding:0%;}
.hbox{
	margin: 0%
	
}
.dark-theme > *{
	display: inline-block;
	vertical-align: middle;
}
.dark-theme{
	position: fixed;
	top:80%;
}
label {
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 30px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}
label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 20px;
	transition: 0.3s;
}
input:checked + label {
	background: #0080ff;
}
input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}
.bottle{
	background-image: url('bottle.png');
	position: fixed;
	background-size:99%;
	width:50%;
	height:100%;
	top:20%;
	left:50%;
	z-index:-1;
}
.content{
	margin:20px;
	padding:20px;
	z-index:4;
}